/* Happy-Space*/
.top-img {
  position: relative;
  bottom: 2px;
  height: 40px;
  border-radius: 10px;
}

/* Restaurant-App */

.restaurant-stack-container,
.trinity-stack-container,
.rbopera-stack-container,
.opera-search-stack-container {
  background-color: antiquewhite;
  display: flex;
  background-color: antiquewhite;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}

.restaurant-stack-title,
.trinity-stack-title,
.rbopera-stack-title,
.opera-search-stack-title {
  color: black;
  text-align: center;
}

.restaurant-stack-imgs,
.trinity-stack-imgs,
.rbopera-stack-imgs,
.opera-search-stack-imgs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.adsense {
  border-radius: 10%;
  height: 70px;
  position: relative;
  top: -10px;
}

.cloud-img-happy {
  height: 55px;
}
.native {
  position: relative;
  top: 10px;
}

/* Opera-Search-App */

/* Trinity-App */

/* RBOpera-App */

@media (max-width: 680px) {
  .opera-search-stack-container {
    position: relative;
    top: 259px;
  }
  .rbopera-stack-container {
    position: relative;
    top: 283px;
  }
}

@media (max-width: 414px) {
  .opera-search-stack-container {
    top: 80px;
  }
  .trinity-stack-container {
    position: relative;
    /* top: -100px; */
  }
  .rbopera-stack-container {
    top: 240px;
  }
}

@media (max-width: 375px) {
  .rbopera-stack-container {
    top: 150px;
  }
  .opera-search-stack-container {
    top: 110px;
  }
}

@media (max-width: 330px) {
  .rbopera-stack-container {
    top: 10px;
  }
  .opera-search-stack-container {
    top: 25px;
  }
}
