.fake-content{
  color: white;
}

.div-shape{
  background-color:rgb(250, 255, 249);
  width:250px;
  height:150px;
  text-align: center;
  border-radius: 25%;
  margin-left: 50px;
  box-shadow: 1px 2px 2px 6px #cecece;
}