.sticky-nav--container {
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: lightgreen; */
  z-index: 1;
  transition: ease-in-out;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

.text-regular {
  color: white;
  cursor: pointer;
  font-size: 15px;
}
.text-highlighted {
  color: red;
  cursor: pointer;
  font-size: 30px;
  transition-duration: 1s;
}
