.navbar{
  width: 100%;
  max-width: 100%;
  min-height: 6vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  transition: all 2s ease;
 
}

.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightgreen;
  z-index: 1;
}

.navigation{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
a, href {
  text-decoration: none;
  color:black;
}

@media (max-width: 600px) 
and (-webkit-min-device-pixel-ratio: 2){
  
}

/* Iphone 6/7/8 CHECK Iphonex 375 */
@media (max-width: 378px){

}

/* Iphone 5/SE */
@media (max-width: 320px){
  
}