.img-animate {
  border-radius: 20%;
  width: 100px;
  height: auto;
}
.div-animate {
  background-color: rgb(250, 255, 249);
  width: 250px;
  text-align: center;
  border-radius: 5%;
  margin-left: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: inset;
}
.css-48vyx {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#css-element {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#css-div:hover #css-element {
  display: block;
  /* width: 50%; */
}

@media (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  .div-animate {
    background-color: rgb(250, 255, 249);
    width: 100px;
    text-align: center;
    border-radius: 5%;
    border: aquamarine;
    margin-left: 5px;
  }
}
