.skills-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5%;
  /* height: 250vh; */
  /* width: 100vw; */
}

/* Cloud Div Image */
.cloud-div {
  text-align: -webkit-center;
  position: relative;
  right: 0%;
  top: 5%;
}

/* .cloud {
  margin-top: 70px;
  width: 550px;
  height: 120px;
  background: #eceff1;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
} */
.cloud {
  margin-top: 95px;
  width: 266px;
  /* width: 40vh; */
  height: 89px;
  background: #eceff1;
  box-shadow: 10px 10px rgb(0 0 0 / 20%);
  border-radius: 100px;
}
.cloud::after,
.cloud::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}
.cloud::after {
  width: 120px;
  height: 110px;
  top: -81px;
  left: -89px;
}
.cloud::before {
  width: 113px;
  height: 148px;
  top: -60px;
  left: 98px;
}

/* Imgs in Cloud */

.cloud-icon-div {
  position: relative;
  text-align: center;
  top: -50px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.skills-img-wordpress {
  border-radius: 60%;
  height: 50px;
}

.cloud-img {
  height: 35px;
}

.cloud-img,
.skills-img-wordpress {
  margin-left: 10px;
}

/* Computer Section */

.computer-div {
  text-align: center;
  position: relative;
  bottom: 31px;
}
.static-tv {
  position: absolute;
  display: flex;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
}
.static-gif {
  height: 210px;
  width: 355px;
  position: relative;
  /* left: 20%; */
  top: 6px;
}

.computer-img {
  border-radius: 3%;
  height: 300px;
}

/* Imgs in computer */
.react-div {
  position: relative;
  bottom: 315px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.react-dive-inner {
  width: 330px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 8px;
}
.react-img {
  height: 75px;
  position: relative;
  left: 10%;
}
.react-native-img {
  height: 75px;
  position: relative;
  right: 4%;
}

.skills-img {
  height: 100px;
  margin: 20px;
}

#css-element {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  position: relative;
  text-transform: uppercase;
  color: blue;
}

#css:hover #css-element {
  display: block;
  /* width: 50%; */
}

.skills-front_end {
  text-align: center;
  position: relative;
  bottom: 315px;
  display: flex;
  justify-content: center;
}

/* Backend */

.backend-container {
  text-align: -webkit-center;
  position: relative;
  /* top: -22%; */
  bottom: 280px;
}

.server-container {
  /* background-color: gray; */
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);

  height: 140px;
  width: 500px;
  border-radius: 5%;
}

.server-top {
  background-color: honeydew;
  height: 50px;
  width: 90%;
  border-radius: 10%;
  position: relative;
  top: 15px;
}

.server-bottom {
  background-color: honeydew;

  height: 50px;
  width: 90%;
  border-radius: 10%;
  position: relative;
  top: 25px;
}

.backend-skills-img {
  height: 100px;
}

.orange-dot {
  background-color: orange;
  height: 10px;
  width: 10px;
  border-radius: 80%;
  position: relative;
  right: -45%;
  top: 45%;
}

.green-dot {
  background-color: green;
  height: 10px;
  width: 10px;
  border-radius: 80%;
  position: relative;
  right: -45%;
  top: 45%;
}

.backend-skills-img {
  height: 50px;
  margin-right: 10px;
}

.skills-back_end_one {
  position: relative;
  top: -404px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.skills-back_end_two {
  position: relative;
  bottom: 398px;
  text-align: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.arrow-holder {
  /* position: absolute;
  bottom: 100px; */
  position: absolute;
  bottom: 600px;
  /* width: 100%; */
  right: 20%;
}
.arrow-holder:hover {
  cursor: pointer;
}

.arrow {
  position: absolute;
  bottom: 10%;
  left: 49%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #06a8ff;
  border-right: 5px solid #06a8ff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/*  */
@media (min-width: 2500px) {
  .skills-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15%;
  }
  .cloud {
    margin-top: 0px;
    width: 566px;
    /* width: 40vh; */
    height: 129px;
    background: #eceff1;
    box-shadow: 10px 10px rgb(0 0 0 / 20%);
    border-radius: 100px;
  }
  .cloud::before {
    width: 230px;
    height: 133px;
    top: -60px;
    left: 16px;
  }
  .cloud::after {
    width: 162px;
    height: 110px;
    top: -81px;
    left: -5px;
  }
  .cloud-icon-div {
    position: relative;
    text-align: center;
    top: -97px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .cloud-img {
    height: 82px;
  }
  .computer-div {
    text-align: center;
    position: relative;
    bottom: 68px;
  }
  .computer-img {
    border-radius: 3%;
    height: 800px;
  }
  .static-gif {
    height: 544px;
    width: 955px;
    position: relative;
    top: 22px;
  }
  .react-div {
    position: relative;
    bottom: 800px;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  .react-dive-inner {
    width: 35%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .react-img {
    height: 200px;
    left: -40%;
  }
  .react-native-img {
    height: 200px;
    right: 0%;
  }
  .skills-img {
    height: 200px;
  }
  .skills-front_end {
    bottom: 715px;
  }
  .backend-container {
    text-align: -webkit-center;
    position: relative;
    bottom: 580px;
  }
  .server-container {
    height: 340px;
    width: 1000px;
  }
  .server-top {
    background-color: honeydew;
    height: 120px;
    width: 90%;
    border-radius: 10%;
    position: relative;
    top: 10%;
  }
  .server-bottom {
    background-color: honeydew;
    height: 120px;
    width: 90%;
    border-radius: 10%;
    position: relative;
    top: 18%;
  }
  .backend-skills-img {
    height: 118px;
    margin-right: 10px;
  }
  .skills-back_end_one {
    position: relative;
    top: -886px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .skills-back_end_two {
    position: relative;
    bottom: 861px;
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .skills-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
  }
  .server-container {
    width: 350px;
  }
  .static-gif {
    height: 210px;
    width: 355px;
    position: relative;
    /* left: 8.5%; */
    top: 6px;
  }
  .backend-skills-img {
    height: 37px;
    margin-right: 10px;
  }
  .skills-back_end_one {
    top: -400px;
  }
  .skills-back_end_two {
    bottom: 380px;
  }
}
